*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
   background-color: #111;
}


h1{
    color: white;
    font-size: 5rem;
    text-align: center;
    margin-top: 2rem;
}
